.landing-bottom-row {
  background-color: #efefef;
  padding: 2rem 1.5rem 2.5rem 1.5rem;  
}

.landing-bottom-row img{
  max-width: 430px;
  margin-top: -3px;
}


.landing-bottom-row .borded-top {
  border-top: 1px solid gray;
}


.unidade-saude {
  font-size: 1.1rem;
}