.content-page {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-page .display-4 {
    font-size: 4rem;
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
}

.text-block {
    max-width: 700px;
    width: 100%;
}