@import url('https://fonts.googleapis.com/css?family=Contrail+One');

.App {
  text-align: center;
  background-color: brown;
  /* background-image: url("background.jpg"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

.App-Theme-2 {
  
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

